<!DOCTYPE html>

<html>

<head>
    {{!-- <link rel="stylesheet" href="./css/styles.css"> --}}  <!-- relative -->
    <link rel="stylesheet" href="/css/styles.css">  <!-- abs -->
    <title>404</title>
    <link rel="icon" href="/img/weather.png">
</head>

<body>
    {{!-- div.main-content --}}
    <div class="main-content">
        {{>header}}
        <p>{{errorMessage}}</p>
        
    </div>
    {{>footer}}
</body>

</html>